.consultation {
    padding: 100px 0 92px 0;
    min-height: 680px;
    background: url("../../img/bg/consultation.jpg") center (center/cover) no-repeat;

&__descr {
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;

}
}
    