@media (max-width: 1199px) {
   .promo {
    &__header {
        font-size: 35px;
       }
    &__subheader {
        font-size: 20px;
    }
    &__icons {
        margin-top: 30px;
    }
   }
   .carousel {
    .slick-prev, .slick-next {
        display: none;
    }
    .slick-slide img {
        width: 600px;
        margin: 0 100px;
    }
    }

}

@media (max-width: 991px) {
    .header {
        padding: 0 15px 0 15px;
    }
    .promo {
        padding: 20px 0 20px 0;
        &__wrapper {
            align-items: center;
       }
    }
    .advantages {
    .title {
        font-size: 26px;
    }
    &__item {
        max-width: 272px;
    }
    &__wrapper {
        padding: 0 15px 0 15px;
    }
    }

    .consultation {
        padding-left: 15px;
        .title {
            &_left {
                font-size: 20px;
            }
            }
    
        padding: 50px 0 46px 0;
        min-height: 600px;
    &__descr {
        margin-top: 40px;
        font-size: 12px;

    }
    }
    .carousel {
        padding: 40px 0;
        .slick-dots { 
            display: flex;
            justify-content: center;
            font-size: 45px;
            button {
            visibility: hidden;    
            }
        }
        .slick-prev, .slick-next {
            display: none;
        }
        .slick-slide img {
            width: 500px;
            margin: 0 auto;
        }
    }   
}
@media (max-width: 767px) {
    .header {
        max-width: 720px;
        justify-content: space-around;
    }
    .promo {
        padding: 20px 0 20px 0;
        &__wrapper {
            align-items: center;
       }
    }
    .advantages {
        padding: 35px 0 50px 0;
        &__item {
            max-width: 220px;
        }
    }
    .consultation {
        padding: 50px 0 46px 15px;
        min-height: 680px;
    &__descr {
        margin-top: 40px;
        font-size: 12px;

    }
    }
    .carousel {
    .carousel__inner {
        width: 500px;
    }
        .slick-prev, .slick-next {
            display: none;
        }
        .slick-dots { 
            padding: 0;
            display: flex;
            justify-content: center;
            font-size: 45px;
        }
        .slick-slide img {
            width: 400px;
            margin: 0 auto ;
        }
    }
    .catalog {
        .catalog__tab {
            width: 175px;
    }
    &__content {
        display: none;
        &_active {
            justify-content: space-around;
    
        }
    }
}
}
@media (max-width: 575px) {
    .promo {
        min-height: 400px;
        padding: 20px 0 20px 0;
        background-size: 100% 100%;
        &__wrapper {
            margin: 30px 0 0 0; 
        }
        &__header {
            font-size: 24px;
        }
        &__subheader {
            margin-top: 5px;
            font-size: 14px;
        }
        &__icons {
            width: 400px;
            padding: 0 15px 0 15px;
        }
        &__icon {
            width: 80px;
            font-size: 10px;
        }
        &__link {
            margin-top: 10px;
            color: #fff;
            font-size: 13px;
            font-weight: 400
        }
        .button_main {
            margin-top: 30px;
            width: 210px;
            height: 35px;
            font-size: 12px
        }
    }
    .header {
    &__logo {
        max-width: 80%;
        img {
            width: 85%;
        }  
    }
    &__official {
        display: none;
    }
    &__phone {
        font-size: 10px;
    }
    .button {
        width: 110px;
        font-size: 10px;
    }
    }
    .advantages {
    &__wrapper {
        display: block;
        margin-top: 20px;
    }
    &__item {
        padding-top: 20px;
        display: flex;
        margin: 0 auto;
        flex-direction: column;
        align-items: center;
    
    &__subtitle {
        margin-top: 10px;
    }
    &__descr {
        margin-top: 10px;
    }
    }
    }
    .consultation {
        padding: 100px 0 92px 15px;
        min-height: 680px;
        background: url(../img/bg/consultation.jpg) center center/cover no-repeat;
    }
    .carousel {
        padding: 40px 0;
        width: 400px;
        .slick-prev, .slick-next {
            display: none;
        }
        .slick-dots { 
            margin: 0;
            font-size: 45px;
        }
        .slick-slide img {
            width: 50%;
            margin: 0 auto;
        }
    }
    .catalog {
        h2 {
            font-size: 25px;
        }
        .catalog__tab {
            width: 165px;
            font-size: 12px;
        }
        .catalog__content {
            &_active {
                justify-content: space-around;
            }
            
        }
    }
    .modal {
        min-width: 400px;
    .modal__close {
        top: 10px;
        right: 5px;
    }
    }
}
@media (max-width: 480px) {
    .carousel {
        .carousel__inner {
            width: 450px;
        }
        width: 300px;
        .slick-slide img {
            width: 300px;
            margin: 0 30px;
        }
    }
    .catalog {
        h2 {
            font-size: 19px;
        }
        .catalog-item {
            width: 260px;
        }
        .catalog__tab {
            width: 95px;
            font-size: 10px;
        }
    }
    .reviews {
        &__item {
            align-items: center;
            display: flex;
            justify-content: center;
            flex-direction: column;
            &_img {
                display: block;
                margin:0 ;
            }
            &_header {
                margin-top: 15px;
                text-align: center;
            }
            &_subheader {
                margin-top: 15px;
                text-align: center;
            }
            &_descr {
                
                text-align: center;
            }
        }   
    }
    .footer {
        .footer__info {
            width: 250px;
        }
    }
}    
@media (max-width: 400px) { 
    .reviews {
        padding: 0 10px 0 10px;
        &__item {
            align-items: center;
            display: flex;
            justify-content: center;
            flex-direction: column;
            img {
                margin: 0;
            }
            &_header {
                text-align: center;
            }
            &_subheader {
                text-align: center;
            }
        }
    }
    .footer {
        .footer__info {
            width: 330px;
        }
        .footer__phone {
            margin-bottom: 20px;
        }

    }
    .modal {
        min-width: 300px;
    }
}
@media (max-width: 320px) { 
    .reviews__item 
        img {
            width: 130px;
            height: 130px;
            margin-right: 20px;
         }
        .footer {
            .footer__info {
                width: 330px;
            }
            .footer__phone {
                margin-bottom: 20px;
            }
    
        }
    }    
    
