@media (max-width: 1199px) {
    
   .promo {
    &__header {
        font-size: 35px;
       }
    &__subheader {
        font-size: 20px;
    }
    &__icons {
        margin-top: 30px;
    }
   }
}
@media (max-width: 991px) {
    .header {
        padding: 0 15px 0 15px;
    }
    .promo {
        padding: 20px 0 20px 0;
        &__wrapper {
            align-items: center;
       }
    }
    .advantages {
    .title {
        font-size: 26px;
    }
    &__item {
        max-width: 272px;
    }
    &__wrapper {
        padding: 0 15px 0 15px;
    }
    }
}
@media (max-width: 767px) {
    .header {
        max-width: 720px;
        justify-content: space-around;
    }
    .promo {
        padding: 20px 0 20px 0;
        &__wrapper {
            align-items: center;
       }
    }
    .advantages {
        padding: 35px 0 50px 0;
        &__item {
            max-width: 220px;
        }
    }
}
@media (max-width: 575px) {
    .promo {
        min-height: 400px;
        padding: 20px 0 20px 0;
        background-size: 100% 100%;
        &__wrapper {
            margin: 30px 0 0 0; 
        }
        &__header {
            font-size: 24px;
        }
        &__subheader {
            margin-top: 5px;
            font-size: 14px;
        }
        &__icons {
            width: 400px;
            padding: 0 15px 0 15px;
        }
        &__icon {
            width: 80px;
            font-size: 10px;
        }
        &__link {
            margin-top: 10px;
            color: #fff;
            font-size: 13px;
            font-weight: 400
        }
        .button_main {
            margin-top: 30px;
            width: 210px;
            height: 35px;
            font-size: 12px
        }
    }
    .header {
    &__logo {
        max-width: 80%;
        img {
            width: 85%;
        }  
    }
    &__official {
        display: none;
    }
    &__phone {
        font-size: 10px;
    }
    .button {
        width: 110px;
        font-size: 10px;
    }
    }
    .advantages {
    &__wrapper {
        display: block;
        margin-top: 20px;
    }
    &__item {
        padding-top: 20px;
        display: flex;
        margin: 0 auto;
        flex-direction: column;
        align-items: center;
    }
    &__subtitle {
        margin-top: 10px;
    }
    &__descr {
        margin-top: 10px;
    }
}

}