@media (max-width: 1199px) {
    
   .promo {
    &__header {
        font-size: 35px;
       }
    &__subheader {
        font-size: 20px;
    }
    &__icons {
        margin-top: 30px;
    }
   }
}
@media (max-width: 991px) {
    .promo {
        &__wrapper {
            align-items: center;
       }
    }
    .advantages {
    .title {
        font-size: 26px;
    }
    &__item {
        max-width: 290px;
    }
    }
}
@media (max-width: 767px) {
    .header {
        max-width: 720px;
        justify-content: space-around;
    }
    .promo {
        &__wrapper {
            align-items: center;
       }
    }
    .advantages {
        padding: 35px 0 50px 0;
        &__item {
            max-width: 220px;
        }
    }
}
@media (max-width: 575px) {
    .promo {
        max-width: 100%;
        &__header {
            font-size: 24px;
        }
        &__subheader {
            margin-top: 5px;
            font-size: 14px;
        }
        &__icons {
            max-width: 550px;
        }
    }
    .header {
    &__logo {
        max-width: 80%;
        img {
            width: 85%;
        }  
    }
    &__official {
        display: none;
    }
    &__phone {
        font-size: 10px;

    }
    }

}